@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

@media screen and (max-width: 768px) {
  .container {
    background-color: whitesmoke;
    font-family: "Mohave", sans-serif;
    display: grid;
    grid-template-areas:
      "profile_main profile_main"
      "workspace_main name_main";
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr 9fr;
    margin: 0;
    height: 100vh;
  }
}
@media screen and (min-width: 769px) {
  .container {
    background-color: whitesmoke;
    font-family: "Mohave", sans-serif;
    display: grid;
    grid-template-areas: "profile_main workspace_main name_main";
    grid-template-columns: 2fr 8fr 1fr;
    margin: 0;
    height: 100vh;
  }
}
/*
.container {
  font-family: "Mohave", sans-serif;
  display: grid;
  grid-template-areas:
    "nav header navOne"
    "nav dashBoard navOne";
  grid-template-rows: 1fr 10% 10fr 1fr;
  grid-template-columns: 1fr 10fr 1fr;

  margin: 0;
  height: 100vh;
}
*/
